<div id="sidebar" class="col-md-3 col-xs-12">
    <div id="detail">
        {{#focussed}}
            <h3>{{label}}</h3>
            <h4>Sentiment Breakdown</h4>
            <div id="donut"/>
            <p>
                Score: {{sentimentScore}} ({{sentimentValue}})
            </p>
        {{/focussed}}
        {{^focussed}}
            Select a tag.
        {{/focussed}}

    </div>
    <form id="settings">
        <label for="dodgeMode">
            Dodge mode
        </label>
        <input type="checkbox" on-click="dodgeChanged" id="dodgeMode">
    </form>
</div>