body {
  padding: 50px;
  font: 14px "Comic Sans", Helvetica, Arial, sans-serif;
}

body {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  text-align: center;
}

.weight_6 {
  font-size: 64px;
}
.weight_5 {
  font-size: 44px;
}
.weight_4 {
  font-size: 30px;
}
.weight_3 {
  font-size: 20px;
}
.weight_2 {
  font-size: 14px;
}
.weight_1 {
  font-size: 10px;
}

.sentiment_negative {
  color: red;
}
.sentiment_neutral {
  color: gray;
}
.sentiment_positive {
  color: green;
}

.vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}