body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

.dodge .wordCloud {
  font-family: "Comic Sans MS", "Comic Sans", cursive;
  background: url("../res/dodge.jpg");
}

a:hover {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

li {
  display: inline-block;
  text-align: center;
}

.weight_6 {
  font-size: 112px;
}
.weight_5 {
  font-size: 80px;
}
.weight_4 {
  font-size: 56px;
}
.weight_3 {
  font-size: 38px;
}
.weight_2 {
  font-size: 24px;
}
.weight_1 {
  font-size: 12px;
}

.dodge .weight_6 a:after {
  content: ", wow";
}
.dodge .weight_5 a:before {
  content: "Very ";
}
.dodge .weight_4 a:before {
  content: "Such ";
}

.sentiment_negative {
  color: red;
  fill: red;

}
.sentiment_neutral {
  color: gray;
  fill: gray;
}
.sentiment_positive {
  color: green;
  fill: green;
}

.vertical {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  -o-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.breathe {
  margin-bottom: 10px;
}